<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.callapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:label="CallApp"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.example.callapp.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>
</manifest>
